
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRequest</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

        $(function () {
            //Get 无参数请求
            $("#btn1").click(function () {
                $.get("/api/get/GetWithNoParamInput", null, function (data, status) {
                    alert(data);
                });
            });
            //Get 两个参数请求
            $("#btn2").click(function () {
                $.get("/api/get/GetWithTwoParamInput", { id: 1001, msg: "two param" }, function (data, status) {
                    alert(data);
                });
            });
            //Get 实体参数请求
            $("#btn3").click(function () {
                $.get("/api/get/GetWithEntityInput", { id: 1002, msg: "entity param" }, function (data, status) {
                    alert(data);
                });
            });
            //Get Json请求
            $("#btn4").click(function () {
                var msg = { id: 1002, msg: "entity param" };
                var jsonmsg = JSON.stringify(msg);
                alert("包装前" + msg);
                alert("Json格式" + jsonmsg);
                $.get("/api/get/GetWithJsonParamInput", { jsonmsg: jsonmsg }, function (data, status) {
                    alert(data);
                });
            });
            //Get 集合接受
            $("#btn5").click(function () {
                $.get("/api/get/GetWithListOutput", {msg:"请求返回集合"}, function (data, status) {
                    alert(data);

                    //遍历集合输出
                    $.each(data, function (i,item) {
                        alert(i+" "+item.id+" "+item.msg);
					});
                });
            });
        });

    </script>
</head>
<body>
    <div>
        <input type="button" id="btn1" value="Get：无参数的请求" /><br /><br />
        <input type="button" id="btn2" value="Get：两个参数的请求" /><br /><br />
        <input type="button" id="btn3" value="Get: 实体参数请求" /><br /><br />
        <input type="button" id="btn4" value="Get: Json字符串请求" /><br /><br />
        <input type="button" id="btn5" value="Get: 对象集合返回" /><br /><br />
    </div>
</body>
</html>
