
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>主页</title>
</head>
<body>
    <div>
        webapi:get post put delete 请求传值Demo<br /><br />
        <a href="/home/GetRequest">webapi_Get_请求传值详解</a> <br /><br />
        <a href="/home/PostRequest">webapi_Post_请求传值详解</a> <br /><br />
        <a href="/home/PutRequest">webapi_Put_请求传值详解</a> <br /><br />
        <a href="/home/DeleteRequest">webapi_Delete_请求传值详解</a> <br /><br />
        <br />
        <br />
        mvc:跳转详解<br /><br />
        <a href="/home/MVCJump">MVC跳转详解</a> <br /><br />
        <br />
        <br />
        mvc:Html助手详解<br /><br />
        <a href="/home/MVCHtmlhelper">Html助手详解</a> <br /><br />
    </div>
</body>
</html>
